#wrapper {
    width: 1000px;
    margin: auto;
    padding: 10px;
    background-color: ghostwhite;
}

header {
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

body {
    background-color: rgb(218, 212, 212);
    font-family: Arial;
    font-size: 1em;
}

.Navbar {
    margin-bottom: 60px;
    width: 98%;
    padding: 10px;
    display: block;
    float: left;
    background-color: rgb(198, 214, 220);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.Navbar a {
    text-decoration: none;
    font-size: 20px;
    font-family: arial;
    color: black;
    padding: 10px;
}

.Navbar a:hover {
    background-color: rgb(177, 177, 183);
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.head_img {
    background-image: url(../img/head_img.jpg);
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
}

.head_img h1 {
    color: white;
    text-align: center;
    font-size: 250%;
    margin: auto;
    float: right;
    padding: 15px;
}

.head_img img {
    width: 10%;
    border-radius: 50%;
    padding: 10px;
}

.img1 img {
    border-radius: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-bottom: 20px;
}

hr {
    position: relative;
    height: 15px;
    background-color: black;
}

u h2 {
    width: fit-content;
    padding: 10px;
    display: block;
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: ghostwhite;
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

u {
    text-decoration: none;
}

.events {
    display: inline-flex;
    padding: 30px;
    text-align: center;
}

.football {
    background-color: wheat;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    border: 2px solid black;
    padding: 15px;
    width: 100%;
    overflow: hidden;
    margin: auto;
}

.e-sports {
    background-color: wheat;
    border: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    width: 100%;
    overflow: hidden;
    padding: 15px;
    padding-left: 10px;
    margin-left: 30px;
}

.soccer {
    background-color: wheat;
    border: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    width: 100%;
    overflow: hidden;
    padding: 15px;
    padding-left: 10px;
    margin-left: 30px;
}

.events li {
    text-decoration: none;
}

.mission img {
    display: block;
    width: 20%;
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

.mission {
    text-wrap: wrap;
    padding: 10px;
}

.events hr {
    position: relative;
    height: 15px;
    background-color: gray;
}

.about_img_starter {
    display: block;
    margin: auto;
    border-radius: 50%;
    padding-left: 25%;
    width: 100%;
}

.text {
    text-align: center;
    color: black;
    padding: 15px;
}

.text h2 {
    display: block;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    background-color: grey;
    color: ghostwhite;
    border-radius: 25%;
}

.text p {
    font-size: larger;
    padding: 15px;
    color: black;
}

.text p:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.student_top_img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 10%;
}

.student_text {
    padding: 15px;
}

.student_text img {
    float: left;
    text-wrap: wrap;
    padding: 5px;
}

.teacher_top_img img {
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Teachers {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Teachers img {
    padding: 40px;
    border-radius: 20%;
}

.math {
    display: inline-flex;
    padding: 30px;
    text-align: center;
}

.math1 {
    background-color: wheat;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    width: 100%;
    overflow: hidden;
    padding: 15px;
    padding-left: 10px;
    margin-left: 30px;
}

.math2 {
    background-color: wheat;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    width: 100%;
    overflow: hidden;
    padding: 15px;
    padding-left: 10px;
    margin-left: 30px;
}

.science {
    display: inline-flex;
    padding: 30px;
    text-align: center;
}

.science1 {
    background-color: wheat;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    width: 100%;
    overflow: hidden;
    padding: 15px;
    padding-left: 10px;
    margin-left: 30px;
}

.science2 {
    background-color: wheat;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    width: 100%;
    overflow: hidden;
    padding: 15px;
    padding-left: 10px;
    margin-left: 30px;
}

.history {
    display: inline-flex;
    padding: 30px;
    text-align: center;
}

.history1 {
    background-color: wheat;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    width: 100%;
    overflow: hidden;
    padding: 15px;
    padding-left: 10px;
    margin-left: 30px;
}

.history2 {
    background-color: wheat;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    width: 100%;
    overflow: hidden;
    padding: 15px;
    padding-left: 10px;
    margin-left: 30px;
}

.english {
    display: inline-flex;
    padding: 30px;
    text-align: center;
}

.english1 {
    background-color: wheat;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    width: 100%;
    overflow: hidden;
    padding: 15px;
    padding-left: 10px;
    margin-left: 30px;
}

.english2 {
    background-color: wheat;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    width: 100%;
    overflow: hidden;
    padding: 15px;
    padding-left: 10px;
    margin-left: 30px;
}

.library_top_img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}

.text_library {
    padding: 15px;
}

.li1 {
    background-color: gray;
    color: ghostwhite;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 20%;
    width: 50%;
    text-align: center;
    display: block;
    padding: 5px;
    font-size: large;
    border: 5px solid black;
}

.li2 {
    background-color: gray;
    color: ghostwhite;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 20%;
    text-align: center;
    display: block;
    margin-left: auto;
    padding: 5px;
    width: 50%;
    font-size: large;
    border: 5px solid black;
}

.li3 {
    background-color: gray;
    color: ghostwhite;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 20%;
    text-align: center;
    display: block;
    margin-right: auto;
    font-size: large;
    padding: 5px;
    width: 50%;
    border: 5px solid black;
}

.li4 {
    background-color: gray;
    color: ghostwhite;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 20%;
    text-align: center;
    display: block;
    margin-left: auto;
    font-size: large;
    padding: 5px;
    width: 50%;
    border: 5px solid black;
}

.li5 {
    background-color: gray;
    color: ghostwhite;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 20%;
    text-align: center;
    display: block;
    margin-right: auto;
    font-size: large;
    padding: 5px;
    width: 50%;
    border: 5px solid black;
}

.text_library p {
    padding-top: 5px;
}

.banned_book img {
    display: block;
    float: left;
    width: 16%;
    padding: 5px;
}

.banned_book {
    text-wrap: wrap;
    font-size: larger;
}

.banned_book p {
    padding-left: 15px;
    padding: 5px;
}