#wrapper {
    width: 1000px;
    margin: auto;
    padding: 10px;
    background-color: ghostwhite;
}

header {
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

body {
    background-color: rgb(218, 212, 212);
    font-family: Arial;
    font-size: 1em;
}

.Navbar {
    margin-bottom: 60px;
    width: 98%;
    padding: 10px;
    display: block;
    float: left;
    background-color: rgb(198, 214, 220);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.Navbar a {
    text-decoration: none;
    font-size: 20px;
    font-family: arial;
    color: black;
    padding: 10px;
}

.Navbar a:hover {
    background-color: rgb(177, 177, 183);
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.head_img {
    background-image: url(../img/head_img.jpg);
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
}

.head_img h1 {
    color: white;
    text-align: center;
    margin: auto;
    float: right;
    padding: 15px;
    padding-top: 32px;
    padding-right: 25%;
}

.head_img img {
    width: 10%;
    border-radius: 50%;
    padding: 10px;
}

.img1 img {
    border-radius: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-bottom: 20px;
}

hr {
    position: relative;
    height: 15px;
    background-color: black;
}

u h2 {
    width: fit-content;
    padding: 10px;
    display: block;
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: ghostwhite;
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

u {
    text-decoration: none;
}

.events {
    display: inline-flex;
    padding: 30px;
    text-align: center;
}

.football {
    background-color: wheat;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    border: 2px solid black;
    padding: 15px;
    width: 100%;
    overflow: hidden;
    margin: auto;
}

.e-sports {
    background-color: wheat;
    border: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    width: 100%;
    overflow: hidden;
    padding: 15px;
    padding-left: 10px;
    margin-left: 30px;
}

.soccer {
    background-color: wheat;
    border: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    width: 100%;
    overflow: hidden;
    padding: 15px;
    padding-left: 10px;
    margin-left: 30px;
}

.events li {
    text-decoration: none;
}

.mission img {
    display: block;
    width: 20%;
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

.mission {
    text-wrap: wrap;
    padding: 10px;
}

.events hr {
    position: relative;
    height: 15px;
    background-color: gray;
}